*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
html
{
    scroll-behavior: smooth;
}
body
{
    background: #080808;
    color: white; 
}
#header
{
    width: 100%;
    /* height: 100vh; */
    height: 200px;
    background-image: url();
    background-size: cover;
    background-position: center;
}
.logo
{
    width: 150px;
    vertical-align: top;
    
    
}
.container
{
    padding: 10px 10%;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul li
{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a
{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after
{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after
{
    width: 100%;
}
.header-text
{
    margin-top: 25%;
    font-size: 60px;
}
.header-text  span
{
    color: rgb(207, 181, 59);
}


/*-------------hobbies---------------- */

#hobbies
{
    width: 900px;
}
.sub-title-1
{
    font-size: 60px;
    font-weight: 600;
    color: white;
    margin-left: 120px;
}
.photo-title
{
    margin-top: 10px;
    margin-left: 120px;
    color: gray;
}
.pics
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 10px;

}

.photos-img
{
    width: 100%;
    margin: 90px;
    margin-left: 140px;
    border: 1px solid gray;
    margin-bottom: 80px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
    cursor: pointer;
    
}
.photos-img:hover
{
    transform: translateY(-20px);
    
}
